@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 1rem = 10px */

  /* 16px = 100%
  10px */

  font-size: 62.5%;
}
:root{
  --color-header: #9485be;
  --color-header-nav-list-link: #cab4ab;
  --color-primary:white;
  --color-secondary: #b1a199;
  --color-tertiary:#001125;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
}
/*style for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  padding: 1rem 2rem;
}

.header-logo {
  width: 20%;
  padding: 0.5rem;
}


.header-nav{
  display: flex;
  gap: 1.5rem;
}

nav ol {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  text-transform: capitalize;
}
.nav-list-link {
  color: var(--color-heeader-nav-list-link);
  padding-right: 2rem;
  text-decoration: none;
}

.nav-list-link:hover {
  text-transform:.3s;
  color:var(--color-primary) ;
}
/* end of header style */

/* style for hero section */

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url(./assets/hero-section.jpg);
  background-position: bottom;
  background-size: cover;
}

.hero-title{
  color: var(--color-primary
  );
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
}

.hero-title-subtext{
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.hero-title-btn{
  background-color: var(--color-header);
  color: var(--color-primary);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  text-transform: capitalize;
}
/* end of hero section style */

/* style for about section */
.about-us{
  display: flex;
  padding: 6rem 2rem;
  gap: 1rem;
  border: #307fff 2px solid;
}

.about-us-textbox{
  width: 50%;
  padding: 2rem;
  border: #9485be 3px dotted;
}

.about-us-title{
  color: var(--color-tertiary);
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
  font-size: 6.3rem;
}
.about-us-text{
  line-height: 1.6;
  font-size: medium;
  font-weight: 700;
  color: var(--color-secondary);
  padding: 2rem;
}
.about-us-link{
  text-decoration: none;
  background-color: var(--color-header);
  color: var(--color-primary);
  padding: 1rem 2rem;
  border: ;

}


.about-us-imgbox{
  padding-right: 2rem;
  width: 50%;
  
  border: red 3px solid;
}


