@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 1rem = 10px */

  /* 16px = 100%
  10px */

  font-size: 62.5%;
}
:root{
  --color-header: #9485be;
  --color-header-nav-list-link: #cab4ab;
  --color-primary:white;
  --color-secondary: #b1a199;
  --color-tertiary:#001125;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
}

/*style for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  padding: 1rem 2rem;
}

.header-logo {
  width: 20%;
  padding: 0.5rem;
}


.header-nav{
  display: flex;
  gap: 1.5rem;
}

nav ol {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  text-transform: capitalize;
}
.nav-list-link {
  color: var(--color-heeader-nav-list-link);
  padding-right: 2rem;
  text-decoration: none;
}

.nav-list-link:hover {
  text-transform:.3s;
  color:var(--color-primary) ;
}
/* end of header style */

/* style for hero section */

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url(./assets/hero-section.jpg);
  background-position: bottom;
  background-size: cover;
}

.hero-title{
  color: var(--color-primary
  );
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
}

.hero-title-subtext{
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.hero-title-btn{
  background-color: var(--color-header);
  color: var(--color-primary);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  text-transform: capitalize;
}
/* end of hero section style */

/* style for amenities section */
.amenities{
  display: flex;
  flex-direction:column;
 justify-content: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  background-color: var(--color-secondary);
}

.title{
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-size: x-large;
  color: var(--color-primary);
}
.title h3{
  font-size: 3rem;
}
.amenities-subtitle{
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}
.amenities-icons{
  /* border: green 4px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2.5rem;
  padding: 1rem;
}

.am-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .1rem;
}
.am-icon p{
  margin-top: 1.5rem;
  color: var(--color-primary);
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 1200;
}

.icons-image{
  background-color: var(--color-header);
  width: 15rem;
  border-radius: 50%;
  border: 2px solid var(--color-header);
  overflow: hidden;
  padding: 1rem;
}

.icons-image img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
/* ending style for amenities section */

/* style for rooms section */
.rooms{
  display: flex;
  padding: 6rem 2rem;
  flex-wrap: wrap;
}

.rooms-title  {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4rem;
  border: 3px solid var(--color-header);
}

.rooms-title h2{
  text-align: center;
}
.room-card{
  margin-top: 7rem;
  width: 30rem;
  background-color: var(--color-secondary);
  border-radius: 5px;
  overflow: hidden;
  
}
.room-image{
  width: 100%;
  height: 20rem;
}

.card-image-details{
padding: 1.5rem;

}

.title-card{
  text-transform: capitalize;
  font-size: 3rem;
  color: var(--color-primary);
  text-align: center;
}

.room-price-description{
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.room-card-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.room-card-btn{
  border: none;
  outline: none;
  background-color: var(--color-header);
  color: var(--color-primary);
  text-transform: capitalize;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

.room-price{
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--color-primary);
}
/* responsiveness for suites area */




/* style for about section */
.about-us{
  display: flex;
  padding: 6rem 2rem;
  gap: 2rem;
}

.about-us-textbox{
  width: 50%;
  padding: 0rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);

}

.about-us-title{
  color: var(--color-tertiary);
  padding: 1rem;
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
  font-size: 6.3rem;
}
.about-us-text{
  line-height: 1.9;
  font-size: medium;
  font-weight: 700;
  color: var(--color-secondary);
  padding: 0 2rem;
}
.about-us-btn{
  text-decoration: none;
  background-color: var(--color-header);
  color: var(--color-primary);
  padding: 1rem 3rem;
  border: none;
  border-radius: .5rem;
  text-transform: capitalize;
  margin-top: 3rem;
  font-size: medium;
  font-weight: bold;
}


.about-us-imgbox{
  width: 50%;
 
}

.about-us-imgbox img{
  width: 100%;
  height: 100%;
}
/* end of about section style */



